:root {
    --cor-fundo: #0f1115;
    --cor-secao: #1a1d24;
    --cor-destaque: #53dd3b;
    --cor-botao: #3da93d;
    --cor-texto: #f8fafc;
    --cor-erro: #ef4444;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}


#botao-login {
    background-color: var(--cor-destaque);
    color: var(--cor-texto);
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
    border: 0.125rem solid var(--cor-texto);
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s;
} 

#botao-login:hover {
    background-color: var(--cor-botao);
}

#botao-cadastro {
    background-color: var(--cor-texto);
    color: var(--cor-destaque);
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    border: 0.125rem solid var(--cor-destaque);
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

#botao-cadastro:hover {
    color:var(--cor-botao);
    border: 0.125rem solid var(--cor-botao);
}

nav {
    display:flex;
}