:root {
    --cor-fundo: #0a0a0a;
    --cor-texto: #ffffff;
    --cor-destaque: #39ff14;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
}

header {
    background-color: var(--cor-fundo);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--cor-destaque);
}

a {
    color: var(--cor-texto);
    text-decoration: none;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav a:hover{
    color: var(--cor-destaque);
    transition: color 0.3s ease;
}

#botao-login {
    background-color: var(--cor-destaque);
    border:  1px solid var(--cor-destaque);
    padding: 1rem;
    border-radius: 0.5rem;
    color: var(--cor-fundo);
}

#botao-cadastro {
    background-color:transparent;
    border:  1px solid var(--cor-destaque);
    padding: 1rem;
    border-radius: 0.5rem;
}